<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">

<p id="notice"><%= notice %></p>

<h1>Todas as perguntas</h1>

<table id="perguntas">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Data</th>
      <!--<th>Conteudo</th>-->
      <th>User</th>
      <% if (current_user.is_adm == true) %>
          <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @pergunta.each do |perguntum| %>
      <tr>
        <td><%=  link_to perguntum.titulo, perguntum %></td>
        <td><%= perguntum.data.strftime("%d/%m/%Y às %H:%M") %></td>
        <!--<td><#%= raw perguntum.conteudo %></td>    Vai exibir o conteudo da pergunta?-->
        <td><%= link_to perguntum.user.nome, perguntum.user %></td>
        <% if (current_user.is_adm == true) or (current_user.id==perguntum.user_id) %> <!-- quem é adm ou criou a pergunta pode apagar --> 
          <td><%= link_to 'Edit', edit_perguntum_path(perguntum) %></td>
          <td><%= link_to 'Destroy', perguntum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %> 
      </tr>
    <% end %>
  </tbody>
</table>

<script>$(document).ready( function () {
  $('#perguntas').DataTable({
    "order": [[ 1, "desc" ]]
  });
});
</script>

<br>

<%= link_to 'New Perguntum', new_perguntum_path %>
