<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @perguntum.titulo %>
</p>

<p>
  <strong>Data:</strong>
  <%= @perguntum.data %>
</p>

<p>
  <strong>Conteudo:</strong>
  <%= raw @perguntum.conteudo %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @perguntum.user.nome %>
</p>


<%= link_to 'Edit', edit_perguntum_path(@perguntum) %> |
<%= link_to 'Back', pergunta_path %>
