<%= form_for(artigo) do |f| %>

  <div class="field">
    <%= f.label :titulo, class:"labelEditTitulo" %>
    <%= f.text_field :titulo, class:"editarTitulo" %>
  </div>
  
  <div class="field">
    <%= f.label :subtitulo, class:"labelEditSubtitulo" %>
    <%= f.text_field :subtitulo, class:"editarSubtitulo" %>
  </div>

  <div class="fieldConteudo">
    <%= f.label :conteudo, class:"labelEditConteudo" %>
    <%= f.cktext_area :conteudo, :width => 100, class:"editarConteudo" %>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
