
<%= form_for(artigo) do |f| %>

  <div class="field">
    <%= f.text_field :titulo, class:"novoTitulo", placeholder:"Coloque o título aqui" %>
  </div>
  
  <div class="field">
    <%= f.text_field :subtitulo, class:"novoSubtitulo", placeholder:"Coloque o subtítulo aqui" %>
  </div>

  <div class="fieldConteudo">
    <%= f.cktext_area :conteudo, :width => 100, class:"novoConteudo" %>
  </div>
  

  <div class="actions">
    <%= f.submit "Postar >>" %>
  </div>
<% end %>
