<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">

<p id="notice"><%= notice %></p>

<h1>Todos os Artigos</h1>

<table id="artigos">
  <thead>
    <tr>
      <th>Título</th>
      <th>Data</th>
      <th>Descrição</th>
      <th>Autor</th>
      <% if (current_user.is_adm == true) %>
          <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @artigos.each do |artigo| %>
      <tr>
        <td><%= link_to artigo.titulo, artigo %></td>
        <td><%= artigo.data.strftime("%d/%m/%Y às %H:%M") %></td>
        <td><%=  artigo.subtitulo %></td>
        <td><%= artigo.user.nome %></td>
        <% if (current_user.is_adm == true) %>
          <td><%= link_to 'Destroy', artigo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>$(document).ready( function () {
    $('#artigos').DataTable();
} );</script>

<%= link_to 'New Artigo', new_artigo_path %>
