<section id=paginaArtigos>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">


<p id="notice"><%= notice %></p>

<h1 id="tituloPaginaArtigos">Artigos</h1>
 
<div class="divBotao">
  <%= link_to 'Novo Artigo', new_artigo_path, class:"botaoNovoArtigo" %>
</div>

<div class="container sumarioArtigos">
  <%= will_paginate @artigos %>
  <% @artigos.each do |artigo| %>
  

  <div class="col-md-12">
  <h3 id="artigosTitulo"><%= link_to artigo.titulo, artigo %></h3>
  </div>
  <div class="col-md-3">
    <%=  artigo.subtitulo %>
  </div>
  <div class=col-md-3>
    <%= artigo.data.strftime("%d/%m/%Y às %H:%M") %>
  </div>
  <% end %>
</div>

</section>
