<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Dosis');
</style> 
<p id="notice"><%= notice %></p>


<div class="titulo">
  <h1>
    <%= @artigo.titulo %>
  </h1>
</div>

<div class="linha artigoData">
    Criado por:
    <%= @artigo.user.nome %>
    <%= @artigo.data.strftime("%d/%m/%Y às %H:%M") %>
<div>

<div class="artigo">
  <%= raw @artigo.conteudo %>
</div>


<%= link_to 'Editar', edit_artigo_path(@artigo), class:"botaoEditar" %> 
<%= link_to 'Voltar', artigos_path, class:"botaoVoltar" %>
