<html class="paginaArtigo">
<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Dosis');
</style>
<p id="notice"><%= notice %></p>

<section id="secaoArtigo" class="container">

  
<div class="titulo">
  <h1>
    <%= @artigo.titulo %>
  </h1>
</div>


<div class="container artigoData">
    <div class="col-md-6 criador">
      <% if !@artigo.user.nil? %>
      Criado por:
      <strong><%= @artigo.user.nome %></strong>
      em
      <% end %>
      <%= @artigo.data.strftime("%d/%m/%Y às %H:%M") %>
    </div
    
    
    <div class="col-md-6 data">
  
    <% if UserArtigo.exists?(:artigo_id => @artigo.id) %> <!-- verificar se houve modificação-->
      <%colaborador = UserArtigo.where(artigo_id:@artigo.id).order(:updated_at).first%> <!-- Pegar o ultimo colaborador-->
      <% User.all.each do |usuario| %>
          <%if usuario.id == colaborador.user_id %>
               Ultima modificação 
               <%= colaborador.updated_at.strftime("%d/%m/%Y às %H:%M") %> <!--Exibir a hora da ultima modificação colaborador-->
              por  <strong><%= usuario.nome  %>  <!--Exibir o nome do ultimo colaborador--></strong>
              <% break %>
          <%end %>
      <%end %>
    
    <%end %>
    
    </div>
    
</div>

<% curtidas = VotosArtigo.where(artigo_id: @artigo.id, votoArtigo: true).count() %>
<% descurtidas = VotosArtigo.where(artigo_id: @artigo.id, votoArtigo: false).count() %>
<div class="votacoes">
<div class="col-md-10"></div>
<div class="votacao col-md-1">
  <%= link_to '<button id="curtir" class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></button>'.html_safe, votar_artigo_path(:booleano => true, :artigo_id => @artigo.id, :user_id => current_user.id), remote: true%>
  <p id="curtidas"><%= curtidas %></p> <!-- contador de curtir-->
</div>
<div class="votacao col-md-1">
  <%= link_to '<button id="descurtir" class="fa fa-thumbs-o-down fa-2x" aria-hidden="true"></button>'.html_safe, votar_artigo_path(:booleano => false, :artigo_id => @artigo.id, :user_id => current_user.id), remote: true%>
  <p id="descurtidas"><%= descurtidas %></p><!-- contador de descurtir-->
</div>
</div>
<script>

  <% if @finddown %>
    $('#descurtir').attr('disabled', true);
  <% end %>
  <% if @findup %>
    $('#curtir').attr('disabled', true);
  <% end %>
    
  $('#curtir').on('click', function(){
    var curtidas = document.getElementById('curtidas');
    if($('#descurtir').attr('disabled')){
      var descurtidas = document.getElementById("descurtidas");
      console.log(descurtidas.innerHTML);
      descurtidas.innerHTML = Number(descurtidas.innerHTML) - 1;
      $('#descurtir').attr('disabled', false);
    }
    curtidas.innerHTML = Number(curtidas.innerHTML) + 1;
    this.disabled = true;
  });
  
  $('#descurtir').on('click', function(){
    var descurtidas = document.getElementById('descurtidas');
    if($('#curtir').attr('disabled')){
      var curtidas = document.getElementById('curtidas');
      console.log(descurtidas.innerHTML);
      curtidas.innerHTML = Number(curtidas.innerHTML) - 1;
      $('#curtir').attr('disabled', false);
      
    }
    descurtidas.innerHTML = Number(descurtidas.innerHTML) + 1;
    this.disabled = true;
  });
</script>


<div class="artigo">
  <%= raw @artigo.conteudo %>
</div>


<div class="botoes col-md-12">


<div class="botoesViewArtigo">
    <%= link_to '<span class="voltar">Voltar</span><span class="seta"><i class="fa fa-arrow-left"></i></span>'.html_safe, artigos_path, class:"botaoVoltarArtigo" %>

     <%= link_to '<span class="editar">Editar</span><span class="lapis"><i class="fa fa-pencil"></i></span>'.html_safe, edit_artigo_path(@artigo), class:"botaoEditar" %>


  
</div>
</div>
</section>
</html>