<html class="paginaArtigo">
<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Dosis');
</style>
<p id="notice"><%= notice %></p>

<section id="secaoArtigo" class="container">
<div class="titulo">
  <h1>
    <%= @artigo.titulo %>
  </h1>
</div>


<div class="container artigoData">
    <div class="col-md-6 criador">
      Criado por:
      <strong><%= @artigo.user.nome %></strong>
      em
      <%= @artigo.data.strftime("%d/%m/%Y às %H:%M") %>
    </div>
    <div class="col-md-6 data">

    
    <% if UserArtigo.exists?(:artigo_id => @artigo.id) %> <!-- verificar se houve modificação-->
      <%colaborador = UserArtigo.where(artigo_id:@artigo.id).order(:updated_at).first%> <!-- Pegar o ultimo colaborador-->
      <% User.all.each do |usuario| %>
          <%if usuario.id == colaborador.user_id %>
               Ultima modificação 
               <%= colaborador.updated_at.strftime("%d/%m/%Y às %H:%M") %> <!--Exibir a hora da ultima modificação colaborador-->
              por  <strong><%= usuario.nome  %>  <!--Exibir o nome do ultimo colaborador--></strong>
              <% break %>
          <%end %>
      <%end %>
    
    <%end %>
    
    </div>
    
</div>

<div class="artigo">
  <%= raw @artigo.conteudo %>
</div>


<h2 id="pontos" class="qntdVotos col-md-4"><%= calcularPtoArtigos(@artigo) %></h2>
<div class="botoes col-md-12">
<div class="botoesVotacao col-md-4">
  <% if !@existe %>
    <%= link_to '<button id="curtir" class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></button>'.html_safe, votar_path(votos_artigo:{:votoArtigo => true, :artigo_id => @artigo.id, :user_id => current_user.id}), method: :post %>
  <% elsif !@finddown.nil? %>
    <%= link_to  '<button id="curtir" class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></button>'.html_safe, alterarvoto_path(votos_artigo:{:votoArtigo => true}, id: @finddown.id), method: :post %>
  <% else %>
    <button id="curtir" class="fa fa-thumbs-o-up fa-2x" aria-hidden="true" disabled='disabled'></button>
  <% end %>
  
  <% if !@existe %>
    <%= link_to '<button id="descurtir" class="fa fa-thumbs-o-down fa-2x" aria-hidden="true"></button>'.html_safe, votar_path(votos_artigo:{:votoArtigo => false, :artigo_id => @artigo.id, :user_id => current_user.id}), method: :post, id: 'down' %>
  <% elsif !@findup.nil? %>
    <%= link_to '<button id="descurtir" class="fa fa-thumbs-o-down fa-2x" aria-hidden="true"></button>'.html_safe, alterarvoto_path(votos_artigo:{:votoArtigo => false}, id: @findup.id), method: :post, id: 'down' %>
  <% else %>
    <button id="descurtir" class="fa fa-thumbs-o-down fa-2x" aria-hidden="true" disabled='disabled'></button>
  <% end %>
</div>

<div class="botoesViewArtigo col-md-8">
    <%= link_to '<span class="voltar">Voltar</span><span class="seta"><i class="fa fa-arrow-left"></i></span>'.html_safe, artigos_path, class:"botaoVoltar" %>

     <%= link_to '<span class="editar">Editar</span><span class="lapis"><i class="fa fa-pencil"></i></span>'.html_safe, edit_artigo_path(@artigo), class:"botaoEditar" %>


  
</div>
</div>
</section>
</html>