<html class="paginaArtigo">
<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Dosis');
</style>
<p id="notice"><%= notice %></p>

<section id="secaoArtigo" class="container">
<div class="titulo">
  <h1>
    <%= @artigo.titulo %>
  </h1>
</div>

<h2><%= calcularPtoArtigos(@artigo) %></h2>

<% if !VotosArtigo.exists?(user_id: current_user.id, artigo_id: @artigo.id) %>
<%= link_to 'Bom', votar_path(votos_artigo:{:votoArtigo => true, :artigo_id => @artigo.id, :user_id => current_user.id}), method: :post %>
<% end %>
<button>Ruim</button>

<div class="container artigoData">
    <div class="col-md-6 criador">
      Criado por:
      <strong><%= @artigo.user.nome %></strong>
      em
      <%= @artigo.data.strftime("%d/%m/%Y às %H:%M") %>
    </div>
    <div class="col-md-6 data">

    
    <% if UserArtigo.exists?(:artigo_id => @artigo.id) %> <!-- verificar se houve modificação-->
      <%colaborador = UserArtigo.where(artigo_id:@artigo.id).order(:updated_at).first%> <!-- Pegar o ultimo colaborador-->
      <% User.all.each do |usuario| %>
          <%if usuario.id == colaborador.user_id %>
               Ultima modificação 
               <%= colaborador.updated_at.strftime("%d/%m/%Y às %H:%M") %> <!--Exibir a hora da ultima modificação colaborador-->
              por  <strong><%= usuario.nome  %>  <!--Exibir o nome do ultimo colaborador--></strong>
              <% break %>
          <%end %>
      <%end %>
    
    <%end %>
    
    </div>
    
</div>

<div class="artigo">
  <%= raw @artigo.conteudo %>
</div>

<div class=botoesViewArtigo>
    <%= link_to '<i class="fa fa-arrow-left"></i>'.html_safe, artigos_path, class:"botaoVoltar" %>
  <button class="botaoEditar">
    <span><%= link_to 'Editar', edit_artigo_path(@artigo) %></span>
  </button>

  
</div>

</section>
</html>