<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Dosis');
</style> 
<p id="notice"><%= notice %></p>


<p>
  <h1>
    <%= @artigo.titulo %>
  </h1>

</p>

<p class="artigoData">
  <div  class="criador">
    Criado por:
    <%= @artigo.user.nome %>
  </div>
  <div class="data">
    <%= @artigo.data.strftime("%d/%m/%Y às %H:%M") %>
  </div>
</p>

<div class="artigo">
  
  <%= raw @artigo.conteudo %>
</div>

<p>
  
  
</p>

<%= link_to 'Editar', edit_artigo_path(@artigo), class:"botaoEditar" %> 
<%= link_to 'Voltar', artigos_path, class:"botaoVoltar" %>
