<p id="notice"><%= notice %></p>

<h1>Resposta</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Conteudo</th>
      <th>User</th>
      <th>Pergunta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resposta.each do |respostum| %>
      <tr>
        <td><%= respostum.data %></td>
        <td><%= respostum.conteudo %></td>
        <td><%= respostum.user_id %></td>
        <td><%= respostum.pergunta_id %></td>
        <td><%= link_to 'Show', respostum %></td>
        <td><%= link_to 'Edit', edit_respostum_path(respostum) %></td>
        <td><%= link_to 'Destroy', respostum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Respostum', new_respostum_path %>
