<p id="notice"><%= notice %></p>

<h1>User Artigos</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Artigo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_artigos.each do |user_artigo| %>
      <tr>
        <td><%= user_artigo.user_id %></td>
        <td><%= user_artigo.artigo_id %></td>
        <td><%= link_to 'Show', user_artigo %></td>
        <td><%= link_to 'Edit', edit_user_artigo_path(user_artigo) %></td>
        <td><%= link_to 'Destroy', user_artigo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Artigo', new_user_artigo_path %>
