<section id="perfilUsuario">
  <div class="container">
    <div class="col-md-3 perfilOpcoes">
      <%= image_tag "lobo_icon.jpg", class: "fotoUsuario" %>
        <p id="nomeUsuario">
          <%= @user.nome %>
        </p>
        <div id="botaoPerfilUsuario">
          <%= link_to 'Perfil',user_path(@user) %>
        </div>
        <div id="botaoPerfilEstatistica">
          <%= link_to 'Estatisticas'  %>
        </div>
        <div id="botaoEditarPerfil">
          <%= link_to 'Editar Perfil', edit_user_path(@user) %>
        </div>
        
        
    </div>
    <div class="col-md-9 perfil"> 
      <h2 id="headUsuario">Usuário</h2>
      <%= image_tag "lobo_icon.jpg", class: "fotoUsuario2" %>
      <p id="notice"><%= notice %></p>
      <div id="usuarioNome">
          <strong>Nome</strong>
          <br>
          <%= @user.nome %>
      </div>
      <div id="usuarioEmail">
          <strong>Email</strong>
          <br>
          <%= @user.email %>
      </div>
      <h2 id="headUltimasPostagens">Ultimas Postagens</h2>
    
    </div>
  </div>
</section>