<% provide(:title, "Login")  %>

<html>
	<style>
@import url('https://fonts.googleapis.com/css?family=Yellowtail');
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</style>
<body class="bodyLogin">
	<header>
		<%= image_tag "logo-branca-mini-2.png", class: "logo" %>
		<p class="textLogo">kipedia</p>
    	<div class="login">
  
        <%= form_for(:session, url: login_path) do |f| %>
	        <div>
	        	<%= f.label :email, class:"labelEmail" %>

	        </div>
	        <div>
	        	<%= f.text_field :email, class:"email"%>
	        </div>
            <div>
            	<%= f.label :password, class:"labelSenha" %>
            </div>
			<div>
				 <%= f.password_field :password, class:"senha" %>
			</div>
           
            <br>
            <%= f.submit "Log in", class:"botaoLogin" %>
			<br>
			<div class="esqueceuSenha">
				Esqueceu a senha? <%= link_to "Clique aqui", new_password_reset_path %>
			</div>

        <% end %>
	</div>
	</header>
		
</body>
</html>
