<% provide(:title, "Forgot password") %>
<h1>Forgot password</h1>

   <%= form_for(:password_reset) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email%>
      <%= f.label :cpf %>
      <%= f.email_field :cpf%>
      <%= f.label :password %>
      <%= f.email_field :password%>
      <%= f.label :password %>
      <%= f.email_field :password%>

      <%= f.submit "Submit"%>
    <% end %>
