<section>
  <div class="home-container container-fluid">
    <h2>Artigos</h2>
      <%Artigo.order('created_at DESC').limit(5).each do|art|%>
        <div class="home-box">
          <h3><%= link_to art.titulo, art %></h3>
          <%= art.subtitulo.truncate(40) %>
          <div class="home-date">
            <%= art.user.nome%> - <%= art.data.strftime("%d/%m/%Y às %H:%M") %>
          </div>
        </div>
      <%end%>
  </div>
<div class="home-container container-fluid">
    <h2>Posts</h2>
      
      <%Post.where(:post_id => nil).order('created_at DESC').limit(5).each do|post1|%> <!-- tem que ter o where para pegar somente os 5 posts q sao perguntas -->
          <div class="home-box">
            <h3><%= link_to post1.titulo, post1 %></h3>
            <div class="home-date">
              <%= post1.user.nome%> em <%= post1.data.strftime("%d/%m/%Y às %H:%M") %>
            </div>
          </div>
      <%end%>
</div>
</section>