<section>
  <div class="home-container container-fluid">
    <h2>Artigos</h2>
      <%Artigo.order('created_at DESC').limit(5).each do|art|%>
        <div class="home-box">
          <h3><%= link_to art.titulo, art %></h3>
          <%= art.subtitulo.truncate(100) %>
          <div class="home-date">
            <%= art.user.nome%> em <%= art.data.strftime("%d/%m/%Y às %H:%M") %>
          </div>
        </div>
      <%end%>
  </div>

  <div class="home-container container-fluid">
    <h2>Posts</h2>
      <%Post.order('created_at DESC').limit(5).each do|poste|%>
        <div class="home-box">
          <h3><%= link_to poste.titulo, poste %></h3>
          <div class="home-date">
            <%= poste.user.nome%> em <%= poste.data.strftime("%d/%m/%Y às %H:%M") %>
          </div>
        </div>
      <%end%>
  </div>
</section>