<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @post.titulo %>
</p>

<p>
  <strong>Conteudo:</strong>
  <%= raw @post.conteudo %>
</p>

<p>
  <strong>Data:</strong>
  <%= @post.data.strftime("%d/%m/%Y às %H:%M") %>
</p>

<% if (@post.post_id!=nil)%>
<p>
  <strong>Pergunta:</strong>
  <% aux = @post.post_id %>
  <%= aux %>
</p>
<% end%>

<p>
  <strong>Criado por:</strong>
  <%= @post.user.nome %>
</p>

<% if (@post.post_id==nil)%>  <!-- se for = nill é pq é pergunta, se for diferente é pq é resposta -->
<p>RESPOSTAS</p>

<%Post.order('created_at DESC').each do |poste|%> <!-- imprimir respostas -->
  <% if (@post.id==poste.post_id)%>
    Titulo: <%=  poste.titulo %>
    Conteudo: <%=  raw poste.conteudo %>
    Data: <%=poste.data.strftime("%d/%m/%Y às %H:%M") %>
    Criado por <%= poste.user.nome%>
    <br>
  <%end%>
<%end%>

<%= form_for :post, url: {action: "create"} do |f| %> <!--Formulario para criar resposta -->
    <div class="field">
    <%= f.label :titulo %>
    <%= f.text_field :titulo %>
  </div>

  <div class="field">
    <%= f.label :conteudo %>
    <%= f.cktext_area :conteudo %>
  </div>
  
  <div class="field">
    <%= f.hidden_field :post_id, value: @post.id %>
  </div>

  <%= f.submit "Postar Resposta"%>
<% end %>
<%end%>
  
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
