<html class="paginaArtigo">
<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Dosis');
</style>

<section id="secaoArtigo" class="container">
<div class="titulo">
  <h1>
    <%= @post.titulo %>
  </h1>
</div>

<%# <h2><%= calcularPtoArtigos(@artigo) ></h2> %>

<div class="artigo">
  <%= raw @post.conteudo %>
</div>

<div class="container artigoData">
  <div class="col-md-6 criador">
    Criado por:
    <strong><%= @post.user.nome %></strong>
    em
    <%= @post.data.strftime("%d/%m/%Y às %H:%M") %>
  </div>
</div>

</section>
</html>

<div class="container-fluid text-center">
  <%= link_to '<span class="editar">Editar</span><span class="lapis"><i class="fa fa-pencil"></i></span>'.html_safe, edit_post_path(@post), class:"botaoEditar" %>
</div>

<% if (@post.post_id==nil)%>  <!-- se nil: pergunta, senão: resposta -->
<div class="titulo"><h2>n Respostas</h2></div>

<div class="home-container container-fluid">
  <%Post.order('created_at ASC').each do |poste|%> <!-- imprimir respostas -->
    <% if (@post.id==poste.post_id)%>
       <div class="home-box">
          <%=  raw poste.conteudo %>
          <%= poste.user.nome%> em <%=poste.data.strftime("%d/%m/%Y às %H:%M") %>
          <% if poste.user_id == current_user.id or current_user.is_adm == true %>
            <td><%= link_to 'Edit', edit_post_path(poste.id) %></td>
          <% end%>
          <br>
        </div>
    <%end%>
  <%end%>
  
  <%= form_for :post, url: {action: "create"} do |f| %> <!--Formulario para criar resposta -->
    <div class="field">
      <%= f.label :conteudo %>
      <%= f.cktext_area :conteudo %>
    </div>
    
    <div class="field">
      <%= f.hidden_field :post_id, value: @post.id %>
    </div>

      <div class="container text-center">
        <%= link_to '<span class="voltar">Voltar</span><span class="seta"><i class="fa fa-arrow-left"></i></span>'.html_safe, post_path, class:"botaoVoltar post-reset-margin" %>
        <%= f.submit "Responder", class:"post-button" %><%end%>
      </div>
  <%end%>
</div>