<!DOCTYPE html>
<html>
  <head>
     <title><%= yield(:title) %> | Inkipedia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if (logged_in?)%>
        <%= render 'layouts/header'%>
    <%end%>
    
    <%= yield %>
    
    <%if (logged_in?)==true%>
        <%= render 'layouts/footer'%>
    <% end%>
    
  </body>
</html>
